* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background: linear-gradient(rgb(48, 48, 142), white);
    background-size: 500% 200%;
    padding: 10px;

}
.float{
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #25d366;
    bottom: 20px;
    right: 7px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    transition: all 300ms;
    
}
.fa-whatsapp{
    font-size: 20px;
}
.float:hover{
    background-color: #90bea1;
    transform: scale(1.15);
}
.cont-mobile{
    display: flex;
}
.nav{
    font-size: 13px;
    width:100%;
}
.montanas {
    margin-bottom: 20px;
    position: sticky;
    top: 0%;
}


.titulo {
    color: black;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    border: inset black;
    display: block;
    background-image: url(./imagenes/paisaje2.jpg);
    padding: 15px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;


}

.contenedor {
    height: 10vh;
    margin: 0;


}


.diferente {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    text-transform: inherit;
    border: inset black;
    background: rgb(99, 117, 154);
}

.imagenes h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: bolder;


}

.imagenes {
    width: 50vw;
    margin: auto;
    max-width: 1000px;
    font-size: 12px;
    min-width: 262px;
  

}

.imagenes img {
    width: 100%;
    border-radius: 15px;
    box-shadow: #071d20;
}
.imagen{
    animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} 

.imagenes .mendo-bella{
   font-size: 15px;
}

.estacion {
    text-align: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size:15px;
}

.menu {
    list-style: none;
    padding: 0px;
    background: #092327;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;


}

.menu li a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    display: block;

}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #1d73ac;
}

.caja {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

h3 {
    text-align: center;
    font-size: 35px;

}
.cont-form{
    font-size: 18px;
}

.form {
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    width: 280px;
}


.formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 0px;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    background-image: url(./imagenes/paisaje2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

label {
    color: rgb(18, 44, 22);
    font-size: 17px;
    font-weight: 400px;
    margin-bottom: 15px;
}

input ,textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid;
    color: #071d20;
    outline: none;
}


input::placeholder,
textarea::placeholder {
    color: rgb(167, 197, 163);
}

.form-poli a {
    color: rgb(10, 14, 13);
    font-size: xx-small;
    font-weight: 0px;
    text-decoration: none;
}

.envio {
    font-size: 16px;
    color: rgb(10, 14, 13);
    border: 10px;
    border-radius: 25px;
    border: 2px solid;
    columns: #071d20;
    cursor: pointer;

}

.envio:hover {
    background-color: rgb(101, 116, 139);

}

#carouselExampleControls {
    width: 50vw;
    margin: auto;
    max-width: 500px;
    min-width: 200px;
    margin: auto;
    z-index: -100;

}

.titulo-carrusel {
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}

.bodega {
    text-align: center;
    padding:15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.tit-foto{
    font-size:18px;
    font-weight: bolder;
}
#carouselExampleControls1 {
    width: 50vw;
    margin: auto;
    max-width: 500px;
    min-width: 200px;
    margin: auto;
    z-index: -100;
}

#carouselExampleControls2 {
    width: 50vw;
    margin: auto;
    max-width: 500px;
    min-width: 200px;
    margin: auto;
    z-index: -100;
}
@media (min-width:768px) {
    .cont-mobile{
        display: flex;
    }
    .titulo{
        font-size: 20px;
    }
   
    .nav{
        font-size: 15px;
        width:100%;
    }
    .diferente{
        font-size: 15px;
    }
    .imagenes{
        font-size: 15px;
       min-width: 300px;
    }
     .imagenes .mendo-bella{
        font-size: 18px;
    }
    .cont-form{
        font-size: 19px;
    }
    .form{
       width: 300px;
    }
    .titulo-carrusel{
        font-size:18px;
    }
    .tit-foto{
        font-size: 22px;
    }
    .bodega{
        font-size: 17px;
    }
    .estacion{
        font-size:20px;
    }
    .float{
        width: 40px;
        height: 40px;
        bottom: 30px;
        right: 40px;
    }
    .fa-whatsapp{
        font-size: 40px;
    }    

}
@media (min-width:1200px) {
    .titulo{
        font-size:40px;
    }
    .nav{
        font-size:22px;
        width:100%;
    }
    .diferente{
        font-size:20px;
    }
    .imagenes{
        font-size:20px;
       min-width: 400px;
    }
     .imagenes .mendo-bella{
        font-size:22px;
    }
    .cont-form{
        font-size:25px;
    }
    .form{
       width:350px;
    }
    .titulo-carrusel{
        font-size:27px;
    }
    .tit-foto{
        font-size:26px;
    }
    .bodega{
        font-size:20px;
    }
    .estacion{
        font-size: 22px;
    }
}


